<div class="sidebar">
  <div class="logo">SAPO</div>

  <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

    <li nz-menu-item routerLink="/manage" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{ exact: true }">
      <span nz-icon nzType="dashboard"></span>
      <span>Tổng quan</span>
    </li>

    <li nz-menu-item routerLink="/manage/orders" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="shopping-cart"></span>
      <span>Đơn hàng</span>
    </li>

    <li nz-menu-item routerLink="/manage/shipping" routerLinkActive="ant-menu-item-selected">
      <span nz-icon nzType="car"></span>
      <span>Vận chuyển</span>
    </li>

    <!-- SẢN PHẨM -->
    <li nz-submenu nzTitle="Sản phẩm" nzIcon="appstore" nzOpen>
      <ul>
        <li nz-menu-item routerLink="/manage/products" routerLinkActive="ant-menu-item-selected">
          Danh sách sản phẩm
        </li>
        <li nz-menu-item routerLink="/manage/purchase" routerLinkActive="ant-menu-item-selected">Nhập hàng</li>
        <li nz-menu-item>Kiểm hàng</li>
      </ul>
    </li>

    <!-- Khách hàng -->
    <li nz-submenu nzTitle="Khách hàng" nzIcon="user" nzOpen>
      <ul>
        <li nz-menu-item routerLink="/manage/users" routerLinkActive="ant-menu-item-selected">
          Danh sách khách hàng
        </li>
        <li nz-menu-item routerLink="/manage/customer-groups" routerLinkActive="ant-menu-item-selected">Nhóm khách hàng</li>
      </ul>
    </li>

    <li nz-menu-item routerLink="/manage/reports" routerLinkActive="ant-menu-item-selected" nzOpen>
      <span nz-icon nzType="bar-chart"></span>
      <span>Báo cáo</span>
    </li>
  </ul>
</div>