<footer class="footer">
    <div class="container" style="background: white;">
        <!-- Newsletter -->
        <div class="newsletter">
            <div class="newsletter-content">
                <span>📧 ĐĂNG KÝ NHẬN BẢN TIN</span>

                <div class="newsletter-form">
                    <input type="text" placeholder="Nhập địa chỉ email của bạn">
                    <button>Đăng ký</button>
                </div>
            </div>
        </div>

        <!-- Main footer -->
        <div class="footer-main">

            <!-- Left -->
            <div class="footer-left">
                <img src="assets/img/fhs-logo-banner.webp" class="logo">

                <p>
                    Lầu 5, 387-389 Hai Bà Trưng Quận 3 TP HCM <br>
                    Công Ty Cổ Phần Phát Hành Sách TP HCM - FAHASA <br>
                    60 - 62 Lê Lợi, Quận 1, TP. HCM, Việt Nam
                </p>

                <!-- social -->
                <div class="social">
                    <a href="#" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa-brands fa-shopify"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                </div>

                <!-- app -->
                <div class="app pt-1">
                    <img src="assets/img/android-link.webp">
                    <img src="assets/img/appstore-link.webp">
                </div>
            </div>

            <!-- Right -->
            <div class="footer-right">
                <div class="policy-information" style="display: flex;">
                    <div class="col">
                        <h4>DỊCH VỤ</h4>
                        <p>Điều khoản sử dụng</p>
                        <p>Chính sách bảo mật</p>
                        <p>Giới thiệu Fahasa</p>
                    </div>

                    <div class="col">
                        <h4>HỖ TRỢ</h4>
                        <p>Chính sách đổi trả</p>
                        <p>Chính sách vận chuyển</p>
                        <p>Chính sách khách sỉ</p>
                    </div>

                    <div class="col">
                        <h4>TÀI KHOẢN</h4>
                        <p>Đăng nhập</p>
                        <p>Chi tiết tài khoản</p>
                        <p>Lịch sử mua hàng</p>
                    </div>

                    <div class="col">
                        <h4>LIÊN HỆ</h4>
                        <p>📍 60-62 Lê Lợi, Q1</p>
                        <p>📧 cskh&#64;fahasa.com</p>
                        <p>📞 1900636467</p>
                    </div>
                </div>
                <!-- Shipping -->
                <div class="fotter-logo-helper pt-4">
                    <div class="logo-item-banner">
                        <img ngSrc="assets/img/lex-ship.webp" width="80" height="40">
                    </div>
                    <div class="logo-item-banner">
                        <img ngSrc="assets/img/viettel_post-ship.webp" width="80" height="40">
                    </div>
                    <div class="logo-item-banner">
                        <img ngSrc="assets/img/giao_hang_nhanh-ship.webp" width="80" height="40">
                    </div>
                    <div class="logo-item-banner">
                        <img ngSrc="assets/img/vnpost-ship.webp" width="80" height="40">
                    </div>
                </div>
                <!-- Payment -->
                <div class="fotter-logo-helper pt-4">
                    <div class="logo-item-banner">
                        <img ngSrc="assets/img/vnpay.webp" width="60" height="40">
                    </div>
                    <div class="logo-item-banner">
                        <img ngSrc="assets/img/momopay.webp" width="60" height="40">
                    </div>
                    <div class="logo-item-banner">
                        <img ngSrc="assets/img/shopeepay.webp" width="60" height="40">
                    </div>
                    <div class="logo-item-banner">
                        <img ngSrc="assets/img/zalopay.webp" width="60" height="40">
                    </div>
                </div>
            </div>
        </div>
        <!-- bottom -->
        <div class="footer-bottom">
            Giấy chứng nhận Đăng ký Kinh doanh số 0304132047 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày
            20/12/2005, đăng ký thay đổi lần thứ 10, ngày 20/05/2022.
        </div>
    </div>
</footer>