.main-body-content {
    min-height: 100vh;
}

.banner {
    overflow: hidden;
    text-align: center;
}

.banner > img {
    width: 100%;
    display: block;
}

.sale-banner {
    text-align: center;
    padding: 12px 0;
}

.sale-banner img {
    max-width: 600px;
    width: 60%;
    height: auto;
    display: inline-block;
}

.categories-row-banner {
    background: url("../../assets/img/flash_sale_background_image.jpg");
}

.cat-wrap {
    padding: 1rem 0;
    background: white;
    border-radius: 8px;
}

.cat-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 8px;
}

.cat-header i {
    color: #e24b4a;
    font-size: 25px;
}

.cat-header h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.cat-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 8px;
}

.cat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 10px 4px;
    border-radius: 8px;
    border: 0.5px solid transparent;
    transition: border-color 0.15s, background 0.15s;
}

.cat-item:hover {
    border-color: #e0e0e0;
    background: #f5f5f5;
}

.cat-icon-box {
    width: 72px;
    height: 72px;
    border-radius: 8px;
    background: #f5f5f5;
    border: 0.5px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #888;
}

.cat-label {
    font-size: 12px;
    color: #333;
    text-align: center;
    line-height: 1.4;
}


/*------------------- Responsive adjustments -------------------------------- */
.product-section {
    background: #ffffff;
    padding: 16px;
    border-radius: 10px;
}

.header-tab-product-banner {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    padding-bottom: 5px;
    width: 100%;
}

/* SOLD */
.sold {
    font-size: 12px;
    color: #777;
    margin-top: 4px;
}

/* LOAD MORE */
.load-more {
    text-align: center;
    margin-top: 20px;
}

.load-more a {
    border: 2px solid red;
    color: red;
    background: #fff;
    padding: 8px 50px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
}

.load-more button:hover {
    background: red;
    color: #fff;
}

/* ================= RESPONSIVE ================= */

/* Tablet */
@media (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Mobile */
@media (max-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .image-wrapper img {
        height: 120px;
    }
}

/* Small mobile */
@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}