<div class="filter">
  <div class="input-search form-control-input-filter">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input 
      [(ngModel)]="keyword" 
      (keydown.enter)="onFilterChange()"
      placeholder="Tìm sản phẩm..." />
  </div>

  <select 
    [(ngModel)]="selectedCategoryId" 
    (change)="onFilterChange()"
    class="form-control-input-filter"
    style="width: 50%;"
  >
    <option [ngValue]="null">Loại sản phẩm</option>
    <option *ngFor="let c of category$ | async" [value]="c.id">
      {{ c.name }}
    </option>
  </select>

  <select
    [(ngModel)]="selectedStatus" 
    (change)="onFilterChange()"
    class="form-control-input-filter"
    style="width: 50%;"
  >
    <option [ngValue]="null">Trạng thái</option>
    <option value="instock">Còn hàng</option>
    <option value="outofstock">Hết hàng</option>
  </select>

  <select
    [(ngModel)]="selectedPublisher" 
    (change)="onFilterChange()"
    class="form-control-input-filter"
    style="width: 50%;"
  >
    <option [ngValue]="null">Nhà xuất bản</option>
      <option *ngFor="let nxb of nxbList" [value]="nxb.id">
        {{ nxb.name }}
      </option>
  </select>
</div>